  <div class="logo">
    <h1><a href="">/pr/.io</a></h1>
    <h2>"Hello, /b/ro!"</h2>
  </div>
</header>
<section class="content">
  <article class="about">
    <a href="index.html">/pr/.io</a> - cornhole occupy kombucha, before they sold out mlkshk distillery polaroid tofu next level stumptown gluten-free flannel heirloom locavore. Hashtag wayfarers XOXO, intelligentsia echo park tilde tofu cred ugh gentrify kale chips etsy umami narwhal. Cold-pressed hashtag synth kinfolk, post-ironic chillwave you probably haven't heard of them gluten-free schlitz ethical butcher cornhole readymade.
  </article>
  <article class="threads clearfix">
    <% @hats.each do |hat| %>
      <a class="thread" href="/hats/<%= hat.id %>">
        <h2><%= hat.title %></h2>
      </a>
    <% end %>
  </article>
